@import "../../styles/variables";

.hero {
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    z-index: 1;
    #tsparticles {
        max-height: 100%;
    }
    .hero-section {
        position: absolute;
        margin-top: 13rem;
        margin-left: 8rem;
        .know-more-btn {
            min-width: 5rem;
            padding: 0.8rem;
            font-size: 1.3rem;
            font-weight:100;
            border: 1px solid $primary-color;
            background-color: $white-color;
            color: $secondary-color;

            &:hover {
                background-color: $secondary-color;
                color: $white-color;
            }
        }
    }
}

.hero-text {
    font-size: 3.6rem;
    font-weight: bolder;
    color: $dark-blue-text;
    .name {
        color: $primary-color;
    }
}
